
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$shopping-cart-primary: mat-palette($mat-indigo);
$shopping-cart-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$shopping-cart-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$shopping-cart-theme: mat-light-theme($shopping-cart-primary, $shopping-cart-accent, $shopping-cart-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($shopping-cart-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.app-container{
  background: #f7f7f7;
  main{
    width: 80%;
    background: #fff;
    margin: 0 auto;
  }
}
header{
  background: #fff;
  box-shadow: 0px 5px 12px 4px #ebebeb;
}
.header-section{
  padding: 30px;
}

//footer style
.btn{
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bold;
}
.btn-green{
  background: #58e400;
}
.incbutton {
  background: #e0e6dc;
  display: block;
  padding: 2px 2px;
  margin: 0 0 0 5px;
  cursor: pointer;
  width: 29px;
  height: 29px;
  float: right;
}
.decbutton{
  background: #e0e6dc;
  display: block;
  padding: 2px 2px;
  margin: 4 4 4 5px;
  cursor: pointer;
  width: 29px;
  height: 29px;
  float: right;
}
.counter{
  display: block;
  padding: 2px 2px;
  margin: 8 0 0 5px;
  cursor: pointer;
  width:  29px;
  height: 29px;
  float: right;
}
.main{
  width: 600px;
  height: auto;
}
.plus,
.minus {
  cursor: pointer;
}
.box{
  width: inherit
}
.footer-container{

  position: fixed;
  bottom: 0;
  background: #f268fb;
  width: 100%;
  padding: 15px 0;
  clear: both;
  .right-section{
    float: right;
    margin-top: 15px;
  }
  .left-section{
    float: left;
    width: 50%;
    p.content{
      color: #0000a5;
      font-weight: bold;
      margin: 5px 0;
      font-size: 20px;
    }
  }
}


//product style

.product-wrapper{
  clear: both;
  padding: 15px;
  .right-content{
    float: right;
    width: 70%;
p.selling-price{
  font-weight: bold;
}
    h3.heading{
      color: #58e400;
    }
    .btn-wapper{
      & > div{
        width: 50%;
      }
    }
  }
  .left-content{
    width: 30%;
    .inner-container{
      width: 70%;
      margin: 0 auto;
      .img-container{
        img{
          width: 90%;
        }
      }
    }
  }
  p{
    margin: 0 0 5px;
  }
  h3{
    margin: 0 0 10px;
  }
}
